/* AddProducts Component Styles */
.add-product {
    text-align: center;
    max-width: 40%;
    margin: 0 auto;
    padding: 20px;
    height: 90vh;
  
    h2 {
      margin-bottom: 20px;
    }
  
    div {
      margin-bottom: 15px;
  
      label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        text-align: left;
      }
  
      input[type="text"],
      input[type="number"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
  
    button[type="submit"] {
      background-color: #ff5722;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 10px;
      width: 100%;
    }
  
    button[type="submit"]:hover {
      background-color:  #fa744b;
    }
  }
  
  .flex-form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.success-message {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
  }
  

  form p{
    color:red;
    font-size: 12px;
    text-align: left;
  }